<div class="merits">
  <div class="merits_top">
    <div id="merits_title" class="merits_top_title">{{ text.merits.title }}</div>
    <div id="merits_subtitle" class="merits_top_subtitle">{{ text.merits.subtitle }}</div>
  </div>
  <div class="merits_box">
    <div class="merits_box_item">
      <img src="../../../assets/img/multi.png">
      <div class="merits_box_item_title">{{ text.merits.box[0].title }}</div>
      <div class="merits_box_item_subtitle">{{ text.merits.box[0].subtitle }}</div>
    </div>
 	  <div class="merits_box_item">
 	    <img src="../../../assets/img/flat.png">
 	    <div class="merits_box_item_title">{{ text.merits.box[1].title }}</div>
 	    <div class="merits_box_item_subtitle">{{ text.merits.box[1].subtitle }}</div>
 	  </div>
 	  <div class="merits_box_item">
      <img src="../../../assets/img/creative.png">
      <div class="merits_box_item_title">{{ text.merits.box[2].title }}</div>
      <div class="merits_box_item_subtitle">{{ text.merits.box[2].subtitle }}</div>
 	  </div>
  </div>	
</div>