@font-face 
	font-family: 'bariol'
	src: url('../fonts/BariolRegular.woff')

@font-face 
	font-family: 'bariol-italic'
	src: url('../fonts/Bariol_Regular_Italic.otf')

body
	margin: 0 auto
	min-width: 60px
	font-family: 'bariol'
	text-align: center
	background-color: white

@import 'sprites.sass'
@import 'header.sass'
@import 'merits.sass'
@import 'team.sass'
@import 'portfolio.sass'
@import 'pricing.sass'
@import 'tweets.sass'
@import 'footer.sass'