<div class="portfolio">
  <div class="portfolio_top">
    <div id="portfolio_title" class="portfolio_top_title"></div>
    <div id="portfolio_subtitle" class="portfolio_top_subtitle"></div>
  </div>
  <div id="portfolio_slider" class="portfolio_slider">
    <div id="portfolio_prev" class="portfolio_hit_zone">
      <i class="sprite sprite-arrow-left"></i>
    </div>
    <div id="portfolio_holder" class="portfolio_holder">
      <div id="portfolio_box" class="portfolio_box">
        <div class="portfolio_item">
          <img src="img/sms-clouds.jpg" class="portfolio_image">
          <div class="portfolio_name"></div>
 	      </div>
        <div class="portfolio_item">
          <img src="img/blue-apple.jpg" class="portfolio_image">
          <div class="portfolio_name"></div>
        </div>
        <div class="portfolio_item">
 	        <img src="img/together-app.jpg" class="portfolio_image">
          <div class="portfolio_name"></div>
        </div>
 	      <div class="portfolio_item">
 	        <img src="img/fc-barcelona.jpg" class="portfolio_image">
 	        <div class="portfolio_name"></div>
        </div>
      </div>
      <div class="portfolio_box">
        <div class="portfolio_item">
          <img src="img/angular.jpg" class="portfolio_image">
          <div class="portfolio_name"></div>
        </div>
        <div class="portfolio_item">
          <img src="img/beoplay.jpg" class="portfolio_image">
          <div class="portfolio_name"></div>
        </div>
        <div class="portfolio_item">
          <img src="img/born-fighters.jpg" class="portfolio_image">
          <div class="portfolio_name"></div>
        </div>
        <div class="portfolio_item">
          <img src="img/dunkelfeld.jpg" class="portfolio_image">
          <div class="portfolio_name"></div>
        </div>
      </div>
      <div class="portfolio_box">
        <div class="portfolio_item">
          <img src="img/guardian.jpg" class="portfolio_image">
          <div class="portfolio_name"></div>
        </div>
        <div class="portfolio_item">
          <img src="img/humaan.jpg" class="portfolio_image">
          <div class="portfolio_name"></div>
        </div>
        <div class="portfolio_item">
          <img src="img/maemo.jpg" class="portfolio_image">
          <div class="portfolio_name"></div>
        </div>
        <div class="portfolio_item">
          <img src="img/north.jpg" class="portfolio_image">
          <div class="portfolio_name"></div>
        </div>
      </div>
      <div class="portfolio_box">
        <div class="portfolio_item">
          <img src="img/tnw.jpg" class="portfolio_image">
          <div class="portfolio_name"></div>
        </div>
        <div class="portfolio_item">
          <img src="img/typeform.jpg" class="portfolio_image">
          <div class="portfolio_name"></div>
        </div>
        <div class="portfolio_item">
          <img src="img/uxpin.jpg" class="portfolio_image">
          <div class="portfolio_name"></div>
        </div>
        <div class="portfolio_item">
          <img src="img/vimeo.jpg" class="portfolio_image">
          <div class="portfolio_name"></div>
        </div>
      </div>
    </div>
    <div id="portfolio_next" class="portfolio_hit_zone">
      <i class="sprite sprite-arrow-right"></i>
    </div>
  </div>
  <div class="portfolio_pages">
    <div class="portfolio_pages_item">s</div>
    <div class="portfolio_pages_item">s</div>
    <div class="portfolio_pages_item">s</div>
    <div class="portfolio_pages_item">s</div>
  </div>
</div>