<div class="footer" style=" background-image: url(img/map.jpg) ">
  <div class="footer_box">
    <div class="footer_copy">
      <div class="footer_item">
        <div id="footer_text" class="footer_text"></div>
      </div>
      <div class="footer_item">
        <i class="sprite sprite-facebook"></i>
        <i class="sprite sprite-tweet-ic"></i>
        <i class="sprite sprite-rss"></i>
      </div>
    </div>
  </div>  
  <div id="footer_info" class="footer_info">
    <div id="footer_title" class="footer_title"></div>
    <div id="footer_email" class="footer_info_text"></div>
    <div id="footer_adress" class="footer_info_text"></div>
    <button id="callback_btn" class="footer_callback_btn"></button>
    <div id="popup" class="footer_callback_content">
      <input type="text" id="fname" class="popup_input" name="fname" required>
      <input type="text" id="fnumber" class="popup_input" name="fnumber" required>
      <input type="text" id="fadress" class="popup_input" name="fadress" required>
      <button id="popup_btn" class="popup_btn"></button>
    </div>
  </div>
</div>