$background: #232324
$text_red: #eb4f4e

/* ==== FOOTER ==== */

.footer
    display: flex
    justify-content: center
    flex-direction: column
    flex-wrap: wrap
    align-items: center
    
.footer_box
	width: 100%
	display: flex
	justify-content: center
    flex-direction: column
    flex-wrap: wrap
    align-items: center
	background-color: $background

.footer_copy
	width: 62%
	padding: 10px
	display: flex
	justify-content: space-between
	flex-wrap: wrap
	align-items: center

.footer_item
	display: flex
	justify-contene: space-between
	flex: wrap

.footer_text
	color: white

.footer_info
	margin: 40px
	padding-left: 15%
	padding-right: 15%
	display: flex
	justify-content: center
	flex-direction: column
	flex-wrap: wrap
	align-items: center
	background: $background
	border-radius: 4px
	color: white

.footer_title
	padding: 20px
	font-size: 30pt

.footer_info_text
	padding: 20px
	padding-top: 0px
	color: $text_red

.footer_callback_btn
    position: relative
    display: inline-block
    padding-top: 8px
    padding-right: 32px
    padding-bottom: 8px
    padding-left: 32px
    margin-bottom: 24px
    color: white
    border-radius: 4px
    border-color: $background
    background-color: $text-red
    &:focus
    	background-color: #db4f4e

.footer_callback_content
	width: 30%
	display: flex
	position: absolute
	background-color: #f9f9f9
	min-width: 160px
	z-index: 1
	flex-direction: column
	justify-content: flex-start
	flex-wrap: nowrap
	visibility: hidden
	opacity: 0
	background-color: $background
	transition: visibility 1s, opacity 1s


.popup_btn
	padding-top: 8px
	padding-right: 32px
	padding-bottom: 8px
	padding-left: 32px
	margin: 8px
	color: white
	border-radius: 4px
	border-color: $background
	background-color: $text-red

.popup_input
	padding-top: 8px
	padding-right: 32px
	padding-bottom: 8px
	padding-left: 32px
	margin: 8px
	color: $text-red
	border-radius: 4px
	border-color: $background



@media(max-width: 420px)
	.footer_title
		font-size: 18pt
	.footer_text
		font-size: 10pt
	.footer_info_text
		font-size: 10pt