@font-face 
	font-family: 'bariol'
	src: url('../fonts/Bariol_Regular.otf')

body
	min-width: 210px
	font-family: 'bariol'
	background-color: white

@import 'header.sass'
@import 'merits.sass'
@import 'team.sass'
@import 'portfolio.sass'