$background: #ececec
$text_green: #61af66
$text_gray: #616161
$text_black: #232324

/* ==== PORTFOLIO ==== */

portfolio
	background-color: $background
	font-family: 'bariol'
	padding: 20px
	display: flex
	justify-content: center
	flex-wrap: wrap
	flex-direction: column
	align-items: center

portfolio_top
	padding: 40px
	display: flex
	justify-content: center
	flex-wrap: wrap
	flex-direction: column
	align-items: center

portfolio_top_title
	color: $text_gray
	font-size: 40pt
	font-weight: bold
	letter-spacing: 5px
	padding: 20px

portfolio_top_subtitle
	color: $text_green
	font-size: 20pt

portfolio_slider
	width: 100%
	display: flex
	justify-content: center
	flex-wrap: nowrap
	flex-direction: row
	align-items: center

portfolio_slider_box
	width: 70%
	display: flex
	justify-content: space-around
	flex-wrap: wrap
	flex-direction: row
	align-items: center
	padding-left: 72px
	padding-right: 72px

portfolio_slider_box_item
	display: flex
	justify-content: center
	flex-wrap: wrap
	flex-direction: column
	align-items: center
	margin: 8px
	flex-grow: 1
	padding: 8px

portfolio_slider_box_item_mask
	border-radius: 50%

portfolio_slider_box_item_name
	color: $text_black
	font-size: 21pt
	padding-top: 16px
	text-align: center
	white-space: nowrap


portfolio_pages
	width: 100px
	display: flex
	justify-content: space-around
	flex-wrap: nowrap
	flex-direction: row
	align-items: center
	margin: 16px

portfolio_pages_item
	background-color: $text_gray
	border-radius: 50%
	font-size: 0px
	width: 10px
	height: 10px

portfolio_pages_item_highlighted
	background-color: $text_green
	border-radius: 50%
	font-size: 0px
	width: 10px
	height: 10px