$text_red: #eb4f4e

/* ==== PRICING ==== */

.pricing
	padding: 20px
	padding-bottom: 320px
	display: flex
	justify-content: center
	flex-wrap: wrap
	flex-direction: column
	align-items: center
	background-color: white

.pricing_box
	width: 70%
	margin-top: -175px
	padding-left: 72px
	padding-right: 72px
	display: flex
	justify-content: space-around
	flex-wrap: wrap
	flex-direction: row
	align-items: flex-end

.pricing_item
	width: 20%
	min-width: 300px
	padding-top: 8px
	display: flex
	justify-content: space-around
	flex-wrap: wrap
	flex-direction: column
	align-items: center

.pricing_item_accent
	width: 20%
	min-width: 300px
	padding-top: 8px
	display: flex
	justify-content: space-around
	flex-wrap: wrap
	flex-direction: column
	align-items: center

@import 'pricing_headers.sass'
@import 'pricing_options.sass'
@import 'pricing_order.sass'

.pricing_info
	width: 100%
	font-size: 20pt
	padding: 40px
	color: $text_red


@media(max-width: 420px)
	.pricing_info
		font-size: 16pt
	