$background_gray: #ececec
$text_red: #eb4f4e
$text_gray: #616161

pricing
	padding: 20px
	padding-bottom: 320px
	display: flex
	justify-content: center
	flex-wrap: wrap
	flex-direction: column
	align-items: center
	background-color: white

pricing_box
	width: 70%
	padding-left: 72px
	padding-right: 72px
	display: flex
	justify-content: space-around
	flex-wrap: wrap
	flex-direction: row
	align-items: flex-end

pricing_box_item
	display: flex
	justify-content: space-around
	flex-wrap: wrap
	flex-direction: column
	align-items: center

pricing_box_item_accent
	display: flex
	justify-content: space-around
	flex-wrap: wrap
	flex-direction: column
	align-items: center

pricing_box_item_header
	display: flex
	justify-content: space-around
	flex-wrap: wrap
	flex-direction: column
	align-items: center

pricing_box_item_accent_header
	display: flex
	justify-content: space-around
	flex-wrap: wrap
	flex-direction: column
	align-items: center

pricing_box_item_header_title
	padding-top: 8px
	padding-bottom: 4px
	font-size: 40pt
	color: $text_gray

pricing_box_item_accent_header_title
	padding-top: 8px
	padding-bottom: 4px
	font-size: 40pt
	color: $text_red

pricing_box_item_header_subtitle
	padding-top: 4px
	padding-bottom: 16px
	font-size: 20pt
	color: $text_red

pricing_box_item_accent_header_subtitle
	ppadding-top: 4px
	padding-bottom: 16px
	font-size: 20pt
	color: $text_gray

pricing_box_item_options
	display: flex
	justify-content: space-around
	flex-wrap: wrap
	flex-direction: column
	align-items: center
	background-color: $background-gray

pricing_box_item_accent_options
	display: flex
	justify-content: space-around
	flex-wrap: wrap
	flex-direction: column
	align-items: center
	background-color: $background-gray

pricing_box_item_options_option
	padding-top: 8px
	padding-bottom: 8px
	color: $text_gray

pricing_box_item_accent_options_option
	padding-top: 8px
	padding-bottom: 8px
	color: $text_gray

pricing_box_item_order
	background-color: $text_red

pricing_box_item_accent_order
	background-color: $text_red


pricing_info
	font-size: 20pt
	color: $text_red
	