$background: #6cc372
$text_green: #61af66
$text_orange: #e74c3c

/* ==== TEAM ==== */

.team
	padding: 20px
	display: flex
	justify-content: center
	flex-wrap: wrap
	flex-direction: column
	align-items: center
	background-color: $background

.team_top
	padding: 40px
	display: flex
	justify-content: center
	flex-wrap: wrap
	flex-direction: column
	align-items: center

.team_top_title
	padding: 20px
	font-size: 40pt
	font-weight: bold
	letter-spacing: 5px
	color: white

.team_top_subtitle
	font-size: 20pt
	color: black

.team_box
	width: 65%
	display: flex
	justify-content: space-around
	flex-wrap: wrap
	flex-direction: row
	align-items: center

.team_box_item
	width: 230px
	margin: 8px
	padding: 8px
	display: flex
	border-radius: 4px
	justify-content: center
	flex-wrap: wrap
	flex-direction: column
	align-items: center
	background-color: white
	flex-grow: 2
	flex-shrink: 0

.team_name
	font-size: 25pt
	padding-top: 16px
	white-space: nowrap
	color: $text_green

.team_position
	padding-top: 16px
	padding-bottom: 16px
	font-size: 18pt
	white-space: nowrap
	color: $text_orange

@media(max-width: 1079px) 
	.team_name
		word-wrap: break-word
		white-space: normal
	.team_position
		word-wrap: break-word
		white-space: normal

.team_button
	width: 90%
	padding: 4px
	border-radius: 4px
	display: flex
	justify-content: left
	align-items: center
	flex-direction: row
	flex-wrap: nowrap
	font-size: 25pt
	color: white
	background-color: $text_green

.team_button_text
	padding-left: 16px