<div class="tweets">
  <div id="tweets_title" class="tweets_title"></div>
  <div id="tweets_subtitle" class="tweets_subtitle"></div>
  <i class="sprite sprite-tweet"></i>
  <div class="tweet_slider">
    <div id="tweets_prev" class="tweet_hit_zone">
      <i class="sprite sprite-arrow-left-b"></i>
    </div>
    <div id="tweets_hearth" class="tweets_hearth">
        <div class="tweets_hearth_tweet"></div>
        <div class="tweets_hearth_tweet"></div>
        <div class="tweets_hearth_tweet"></div>
    </div>
    <div id="tweets_next" class="tweet_hit_zone">
      <i class="sprite sprite-arrow-right-b"></i>
    </div>
  </div>
</div>