<div class="team">
  <div class="team_top">
    <div id="team_title" class="team_top_title">{{ text.team.title }}</div>
    <div id="team_subtitle" class="team_top_subtitle">{{ text.team.subtitle }}</div>
  </div>
  <div class="team_box">
    <div class="team_box_item">
      <img src="../../../assets/img/mahmoud.png">
   	  <div class="team_name">{{ text.team.box[0].name }}</div>
      <div class="team_position">{{ text.team.box[0].position }}</div>
      <div class="team_button">
        <i class="sprite sprite-tweet"></i>
        <div class="team_button_text">{{ text.team.button }}</div>
      </div>
    </div>
  <div class="team_box_item">
    <img src="../../../assets/img/abd.png">
    <div class="team_name">{{ text.team.box[1].name }}</div>
    <div class="team_position">{{ text.team.box[1].position }}</div>
   	<div class="team_button">
   	  <i class="sprite sprite-tweet"></i>
   	  <div class="team_button_text">{{ text.team.button }}</div>
   	</div>
  </div>
  <div class="team_box_item">
    <img src="../../../assets/img/mostafa.png">
   	<div class="team_name">{{ text.team.box[2].name }}</div>
   	<div class="team_position">{{ text.team.box[2].position }}</div>
   	<div class="team_button">
   	  <i class="sprite sprite-tweet"></i>
   	  <div class="team_button_text">{{ text.team.button }}</div>
    </div>
  </div>
  <div class="team_box_item">
    <img src="../../../assets/img/ahmed.png">
    <div class="team_name">{{ text.team.box[3].name }}</div>
    <div class="team_position">{{ text.team.box[3].position }}</div>
      <div class="team_button">
   	    <i class="sprite sprite-tweet"></i>
   	    <div class="team_button_text">{{ text.team.button }}</div>
   	  </div>
    </div>
  </div>
</div>