<div class="team">
  <div class="team_top">
    <div id="team_title" class="team_top_title">{{ text.team.title }}</div>
    <div id="team_subtitle" class="team_top_subtitle">{{ text.team.subtitle }}</div>
  </div>
  <div class="team_box">
    <div class="team_box_item" ui-sref="team">
      <img src="../../../assets/img/abd.png">
      <div class="team_name">{{ text.team.box[1].name }}</div>
      <div class="team_position">{{ text.team.box[1].position }}</div>
      <div class="team_button">
        <i class="sprite sprite-tweet"></i>
        <div class="team_button_text">{{ text.team.button }}</div>
      </div>
    </div>
    <div class="lorem">
      <p class="lorem_title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam bibendum laoreet massa. Vestibulum libero dui, commodo ut iaculis eget, maximus eget velit. Sed tincidunt, justo sed pellentesque condimentum, ex turpis sodales est, id congue urna nulla eu nisi. Praesent sed dolor et quam sollicitudin lobortis.</p>

      <p class="lorem_text">Donec pellentesque est vel diam tempor consequat. Duis tincidunt, ex non aliquam dictum, turpis ante consequat urna, eget finibus libero lacus sit amet diam. Vivamus et nibh condimentum, fermentum nisi ac, finibus justo. Sed convallis ac nunc vel venenatis.  Aenean nec nisi nec nunc auctor ultricies. Integer lobortis posuere aliquet. Aliquam erat volutpat. Nunc orci massa, mattis quis orci et, mattis accumsan neque. Aliquam vel purus mauris. Morbi faucibus consequat enim at porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
    </div>
  </div>