<div class="team">
  <div class="team_top">
    <div id="team_title" class="team_top_title">{{ text.team.title }}</div>
    <div id="team_subtitle" class="team_top_subtitle">{{ text.team.subtitle }}</div>
  </div>
  <div class="team_box">
    <div class="team_box_item">
      <img src="../../../assets/img/mahmoud.png">
   	  <div class="team_name">{{ text.team.box[0].name }}</div>
      <div class="team_position">{{ text.team.box[0].position }}</div>
      <div class="team_button">
        <i class="sprite sprite-tweet"></i>
        <div class="team_button_text">{{ text.team.button }}</div>
      </div>
    </div>
    <div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin egestas convallis fringilla.</p>

      <p>Donec pellentesque est vel diam tempor consequat. Duis tincidunt, ex non aliquam dictum, turpis ante consequat urna, eget finibus libero lacus sit amet diam. Vivamus et nibh condimentum, fermentum nisi ac, finibus justo. Sed convallis ac nunc vel venenatis.</p>
  </div>
</div>